body {
    margin: 0;
    background: lightblue;
    text-align: center;
}
h1 {
    color: blue;
    
    
  }
  p {
    color: red;
    font-family: courier; 
    font-size: 160%;
    border: 2px solid powderblue;
    margin: 50px;
  }
