body {
    margin: 0;
    background: lightblue;
    text-align: center;
}
h1 {
    color: black;
    font-family: Calibri;
    font-size: 200%;
}
h2 {
    color: black;
    font-family: Calibri;
    font-size: 200%;
}
p {
    color: black;
    font-family: Calibri; 
    font-size: 150%;
}
form {
    position : relative;
    width  : 740px;
    height : 498px;
    margin : 0 auto;
    padding: 1em;
    box-sizing: border-box;
  
    /* we create our grid */
    display  : grid;
    grid-gap : 20px;
    grid-template-columns : repeat(2, 1fr);
    grid-template-rows    : 10em 1em 1em 1em;
  }
